$phone: 320px;
$tablet: 768px;
$desktop: 1024px;

@font-face {
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), 
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'), 
    url('../fonts/poppins-v20-latin-regular.ttf') format('ttf'), 
    url('../fonts/poppins-v20-latin-regular.svg') format('svg'); /* Legacy iOS */
}
  
body {
  font-family: Poppins, sans-serif;
  background: url('/public/background_langAppLanding.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body::after {
  position: absolute;
  top: 0; 
  bottom: 0;
  right: 0%; 
  left: 50%;
  z-index: -1;
  background:#fff;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  opacity: 0.08;
  content: '';
}

