.install-button {
    display: block;
    padding: 16px;
    height: 80px;
  
    @media (min-width: $tablet) {
        padding: 24px;
        width: 230px;
    }

    &--flex-center {
        display: flex;
        align-items: center;
    }

    &--stylish {
        border-radius: 10px;
        text-decoration: none;
        cursor: pointer;
        background: linear-gradient(260deg, #6A42F8, #D375E0);
    }

    &__icon {
        padding: 0;
        width: 37px;
        height: 28px;
        border-radius: 0;
        object-fit: contain;
        vertical-align: middle;
    }

    &__title {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-size: 18px;
        line-height: 18px;
    }
}