.mainTitle {   
    font-size: 24px;
    line-height: 140%;
    font-weight: 600;

    @media (min-width: $desktop) {
        font-size: 46px;
    }

    &__letters--stylish::after {
        position: absolute;
        content: "";
        z-index: -1;
        background: #F7D73B;
        transform: skewX(-15deg);

        width: 100px;
        height: 30px;
        left: 0;

        @media (min-width: $tablet) and (max-width: $desktop) {
            width: 110px;
            height: 40px;
            left: 80px;
        }

        @media (min-width: $desktop) {
            width: 200px;
            height: 62px;
            left: 80px;
        }
    }
}
