.slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 460px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 520px;
  }

  &__buttons {
    position: absolute;
    top: 87%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  
    @media (min-width: $desktop) {
      top: 86%;
    }
  }
  
  &__previousButton, &__nextButton {
    width: 30px;
    height: 30px;
    text-decoration: none;
    transform: translateY(10%);
    transition: all .3s linear;
  
    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
    }
  
    @media (min-width: $desktop) {
      width: 56px;
      height: 56px;
    }
  }
  
  &__previousButton:not(.disabled):hover, &__nextButton:not(.disabled):hover {
    transform: translateY(10%) scale(1.25);
    cursor: pointer;
  }
  
  &__slide {
    position: absolute;
    width: 100%;
    height: 85%;
    object-fit: contain;
    overflow: hidden;
  }
  
  &__slide.animate-in.previous,
  .slide.animate-in.next {
    left: 0;
    visibility: visible;
  }
  
  &__slide.animate-out.previous {
    left: 100%;
  }
  
  &__slide.animate-out.next {
    right: -100%;
  }
}

.hidden {
  visibility: hidden;
}

.previous {
  left: 100%;
}

.current {
  left: 0;
}

.next {
  left: -100%;
}

.animate-in,
.animate-out {
  transition: all 2s ease;
}
